{% extends "base.html" %}
{% load static %}

{% block title%} Home Page {% endblock %}

{% block content %}
    <h1> Welcome to the Home Page</h1>
    <p>This is the home page of our website. Here you can find various resources and links to other sections of the site.</p>
    <img src="{% static "images/my_img.jpg" %}" alt="Home Image">

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    <button onclick="showAlert()">Click me</button>
{% endblock %}