{% extends "base.html" %}


{% block title %}
    Blog Page
{% endblock title %}


{% block content %}
    <h2 class="text-3xl font-bold underline">My Blog Posts</h2>
    <p>This is a simple blog post.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eos modi labore totam odio expedita sequi quidem, id at voluptatum. Molestiae numquam totam vel ipsam officia laudantium accusantium voluptatem corrupti nesciunt, architecto dolores impedit iure, provident, deserunt blanditiis voluptate alias. Qui architecto soluta autem. Sit ducimus magnam dolorum, consequatur sed voluptate harum! Voluptates ea id esse ullam ipsa libero autem, earum, quasi ab repellat magnam temporibus iure quod? Ipsa delectus sed aliquam harum nemo ea dolore facere alias, eius omnis maxime praesentium quo neque rem a iure ab similique, impedit maiores, consequuntur cupiditate et ipsam voluptatem nisi? Ab, ratione et?</p>
{% endblock content %}
    